.popup-root {
  position: fixed;
  bottom: 100%;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
}

.popup-content {
  display: inline-block;
  text-align: left;
  transform: translateY(-100%);
  transition: transform 0.3s;
}

.popup-content.active {
  transform: translateY(8em);
}